.mainwindow{
    /* position: fixed; */
    margin-top: 56px;
    margin-bottom: 30px;
    height: 95vh;
    background-color: rgb(202, 202, 202);
    display: flex ;
}

.slidewindow{
    width: 25vw;
    background-color: rgb(242, 243, 208);
}

.bottom{
    height: 30px ;
    font-size: 10px;
    padding-top:10px;
    padding-bottom:10px;
    color:rgba(255, 255, 255, 0.5);
}