.mainwindow{
    /* position: fixed; */
    margin-top: 8vh;
    margin-bottom: 4vh;
    height: 88vh;
    background-color: rgb(202, 202, 202);
    display: flex ;
}

.slidewindow{
    width: 25vw;
    background-color: rgb(242, 243, 208);
}