.mainwindow{
    /* position: fixed; */
    margin-top: 56px;
    margin-bottom: 30px;
    height: calc(100vh - 86px);
    background-color: rgb(170, 211, 223);
    display: flex ;
}

.slidewindow{
    position: fixed;
    top: 56px;
    right: 0px;
    z-index: 60;
    width: 25vw;
    height: calc(100vh - 86px);
    background-color: rgb(242, 243, 208);
    animation: slideopen 1s ;
    opacity:0.9;
    overflow-y: scroll;
}

.slidewindow:hover{
    background-color: rgb(242, 243, 208);
    opacity:1;
}

.slidewindowClose{
    position: fixed;
    top: 56px;
    right: 0px;
    z-index: 60;
    width: 0vw;
    height: calc(100vh - 86px);
    background-color: rgb(242, 243, 208);
    animation: slideclose 1s;
    opacity:0.8;
}

.slidewindowClose:hover{
    background-color: rgb(242, 243, 208);
}

.bottom{
    height: 30px ;
    font-size: 10px;
    padding-top:10px;
    padding-bottom:10px;
    color:rgba(255, 255, 255, 0.5);
}

.slideBtn{
    position: fixed; 
    top: 45vh;
    right: 25vw;
    z-index: 55;
    background-color: rgb(91, 190, 124);
    height: 10vh;
    width: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh; 
    border-radius: 5vh 0vh 0vh 5vh; 
    animation: slideshift 1s ;
    opacity:0.6;
    text-align: center;
}

.slideBtn:hover{
    background-color: rgb(91, 190, 124);
    width: 3vh;
    opacity:1;
}

.slideBtnClose{
    position: fixed; 
    top: 45vh;
    right: 0vw;
    z-index: 55;
    background-color: rgb(91, 190, 124);
    height: 10vh;
    width: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh; 
    border-radius: 5vh 0vh 0vh 5vh;
    animation: slideshiftright 1s ; 
    opacity:0.6;
    text-align: center;
}

.slideBtnClose:hover{
    background-color: rgb(91, 190, 124);
    width: 5vh;
    opacity:1;
}

@keyframes slideopen {   
    0% {
    width: 0vw;   
    }
 
    100% {
    width: 25vw;
    }
}

@keyframes slideshift {   
    0% {
    right: 0vw;   
    }
 
    100% {
    right: 25vw;
    }
}

@keyframes slideclose {   
    0% {
    width: 25vw;
    }
 
    100% {
    width: 0vw;
    }
}

@keyframes slideshiftright {   
    0% {
    right: 25vw;   
    }
 
    100% {
    right: 0vw;
    }
}