.header{
    background-color: "#387D9C";
    color: "white"   ;
    height: 8vh;
}

.navlink{
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
    color: rgba(255,255,255,.5);
}

