.wrapper{
    background-color: rgb(242, 243, 208);
}

.tabletitle{
    min-width: 70.4px;
    vertical-align:top;
}

.likeplus {
    /* 新增讚數控制 */
    border-radius: 100px;
    padding: 4px px 4px 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ff2e2e;
    color: white;
    box-shadow: inset -2px -2px 4px 0px #bb2323;
}

.likeplus:hover {
    box-shadow: inset 0 0 transparent;
    background: #c22020;
}

.likeplus:focus{
    outline:none;
}
