.base {
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content:center;
}

.img {
  position: fixed;
  height: 100vh;
  margin-top: 56px;
  margin-bottom: 30px;
}

.card {
    margin-top: -10vh;
}

.smallBtn{
    font-size: 12px;
}

.smalltext{
    margin-top: 15px;
    color: #868e96!important;
    display: block;
    font-size: 12.8px;
}

.alerttext{
  margin-bottom: 15px;
  color: #ff0000!important;
  display: block;
  font-size: 12.8px;
}